<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
</head>
<body>
<div th:each="user : ${usersList}">
        <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a>
</div>
<div>
    <form th:method="POST" th:action="@{/user}" th:object="${user}">
        <label for="name"> Enter the name </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="email">Enter email</label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <input type="submit" value="Add user"/>
    </form>
</div>

</body>
</html>